.DS_Store

# Ignore all .idea directories
.idea/

# Ignore all .iml files
*.iml

# Ignore all target directories (for Maven)
target/

# Ignore all build directories (for Gradle)
build/

# Ignore logs
*.log

# Ignore temporary files
*.tmp

# Ignore binary files
*.o

# Ignore .dSYM files
*.dSYM

# Ignore .user files
*.user

# Ignore .app files
*.app

moc_msdscriptwidget.cpp

# Ignore Makefile
Makefile

# Ignore .qtc_clangd folder
.qtc_clangd/
